body {
  background: #FDE8F3;
  height: 100vh;
  margin: 0;
  /*display: flex;*/
  font-family: Verdana;
}

h1 {
  font-weight: 200;
  color: #ab6b3b;
}

label, input, button {
  margin: 5px;
  font-size: 16px;
  min-width: 90px;
  display: inline-block;
  border-radius: 5px;
}

button {
  border: solid 1px pink;
  border-radius: 5px;
  margin-top: 15px;
}

#todo {
  display: none;
  /*display: block;*/
}

#msg, .msg {
  color: #2874A6;
}

#storage {
  padding: 15px;
}